{% load static from staticfiles %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!--Import Google Icon Font-->
        <link href="{% static 'css/material-icons.css' %}" rel="stylesheet">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="{% static 'materialize.min.css' %}">
        <title>Booking Home</title>
    
    <style>
      body{
      background: url(/static/Images/Index_bgf2.jpg);
      background-size: cover;
    }
    </style>
</head>
<body>
  <header>
  <!--NAVBAR TOP-->
  <div class="navbar-fixed">
  <nav class="nav-wraper z-depth-5 purple darken-4">
    <div class="container">
    <a href="#" class="brand-logo">TravelX</a>
    <a href="#" class="sidenav-trigger btn-floating btn-large waves-effect waves-light transparent z-depth-0" data-target="mobile-links">
      <i class="large material-icons">menu</i>
    </a>   
    <ul class="right hide-on-med-and-down">
      <li><a href="{% url 'home' %}" class="hoverable waves-effect waves-light"><i class="material-icons left">home</i>HOME</a></li>
      <li><a href="#" class="hoverable waves-effect waves-light"><i class="material-icons left">train</i>TRAINS</a></li>
      <li><a href="#" data-target="dropdown" class="dropdown-trigger hoverable" style="font-weight: lighter; font-size: 120%"><i class="material-icons left">account_circle</i>MY ACCOUNT</a></li>
      </ul>
    <ul id='dropdown' class='dropdown-content'>
        <li><a href="{% url 'logout' %}">LOGOUT</a></li>
        <li><a href="/accountinfo/info/">ACCOUNT OPTIONS</a></li>
    </ul>
  </div>
  </nav>
</div>

<ul class="sidenav grey darken-4" id="mobile-links">
  <div class="user-view">
      <div class="form-field center-align"><i class="material-icons large center-align white-text">account_circle</i><br>
      <h4 class=" white-text">{{ request.user.username }}</h4>
      <h5 style="font-weight: lighter;" class="white-text">{{ request.user.email }}</h5><hr></div>
  </div>
  <li><a href="{% url 'home' %}" class="hoverable white-text waves-effect waves-light" style="font-weight: lighter; font-size: 120%">HOME</a></li>
  <li><a href="#" class="hoverable white-text waves-effect waves-light" style="font-weight: lighter; font-size: 120%">TRAINS</a></li>
  <li><a href="{% url 'logout' %}" class="hoverable white-text waves-effect waves-light" style="font-weight: lighter; font-size: 120%"">LOGOUT</a></li>
  <li><a href="/accountinfo/info/" class="hoverable white-text waves-effect waves-light" style="font-weight: lighter; font-size: 120%"">ACCOUNT OPTIONS</a></li>
</ul>
  </header>
  <!--END OF NAVBAR-->
<div class="container white-text">
  <h3>Booking</h3>
  <p style="font-size: 150%; font-weight: lighter">Welcome to the booking menu. Choose one of the options below</p>
<div class="row">
   
    <div class="col s6 m6 l3">
        <div class="card purple darken-4  hoverable waves-effect waves-light">
            <a href="{% url 'Booking:capture' slug='Book_Ticket' %}">
            <div class="card-content white-text">
              <span class="card-title">Book a Ticket</span>
            </div></a>
        </div>
    </div>
    <div class="col s6 m6 l3">
        <div class="card purple darken-4  hoverable waves-effect waves-light">
            <a href="/accountinfo/info/">
            <div class="card-content white-text">
              <span class="card-title">Cancel Ticket</span>
            </div></a>
        </div>
    </div>
    
    </div>
    </div>
</div>


</div>







<script src="{% static 'JS/jquery.js' %}"></script>
<!-- Compiled and minified JavaScript -->
<script src="{% static 'JS/materialize.min.js' %}"></script>

  <script>
    $(document).ready(function(){
      $('.sidenav').sidenav();
      $('.dropdown-trigger').dropdown();
      });
  </script>
</body>
</html>