{% load static from staticfiles %}
{% load indexing %}



<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--Import Google Icon Font-->
  <link href="{% static 'css/material-icons.css' %}" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="{% static 'materialize.min.css' %}">
  <title>Pricing page</title>

<style>
  #space{
    line-height: 35%;
  }
  .col{
    padding: 0;
  }
  
</style>



</head>



<header>
    <!--NAVBAR TOP-->
    <div class="navbar-fixed">
    <nav class="nav-wraper z-depth-5 purple darken-4">
      <div class="container">
      <a href="#" class="brand-logo"><span style="font-weight: lighter;">Travel</span><span>X</span>    </a>
      <a href="#" class="sidenav-trigger btn-floating btn-large waves-effect waves-light transparent z-depth-0" data-target="mobile-links">
        <i class="large material-icons">menu</i>
      </a>   
      <ul class="right hide-on-med-and-down">
        <li><a href="..\.\Index\Index.html" class="hoverable waves-effect waves-light"><i class="material-icons left">home</i>HOME</a></li>
        <li><a href="#" class="hoverable waves-effect waves-light"><i class="material-icons left">train</i>TRAINS</a></li>
        <li><a href="#" class="hoverable waves-effect waves-light"><i class="material-icons left">language</i>BOOK</a></li>
        <li><a href="#" class="hoverable waves-effect waves-light"><i class="material-icons left">perm_media</i>GALLERY</a></li>
        <li><a href="..\.\Login\login.html" class="hoverable waves-effect waves-light"><i class="material-icons left">account_circle</i>LOGIN</a></li>
      </ul>
    </div>
    </nav>
  </div>
  
    <ul class="sidenav grey darken-4" id="mobile-links">
      <li><a href="#" class="hoverable white-text waves-effect waves-light">HOME</a></li>
      <li><a href="#" class="hoverable white-text waves-effect waves-light">TRAINS</a></li>
      <li><a href="#" class="hoverable white-text waves-effect waves-light">BOOK</a></li>
      <li><a href="#" class="hoverable white-text waves-effect waves-light">GALLERY</a></li>
      <li><a href="..\.\Login\login.html" class="hoverable white-text waves-effect waves-light">LOGIN</a></li>
    </ul>
</header>

<body>
<br>
<div class="container">
  <h3 style="font-weight: lighter;">Detail Confirmation</h3>
  <hr>
  <div class="row">
  <div class="col l3"></div>
  <div class="col l7">
  <div class="card">
  <div class="card-content">
  <div class="card-title center-align" style="font-size: 220%;"><u><b>Details</b></u></div>
  {% if data.method == 'Direct' %}
  <h5 style="font-weight: lighter;">
    <b>Method of travel</b> : Direct Train<br><br id='space'>
    <b>Train Name</b> : {{ data.names.0 }}<br><br id='space'>
    <b>Train ID</b> : {{ data.names.1 }}<br><br id='space'>
    <b>From</b> : {{ data.snames.0 }}<br><br id='space'>
    <b>To</b> : {{ data.snames.1 }}<br><br id='space'>
    <b>Departure Time</b> : Departing from {{ data.snames.0 }} at {{ data.da.0 }} hrs<br><br id='space'> 
    <b>Arrival Time</b> : Arriving in {{ data.snames.1 }} at {{ data.da.1 }} hrs<br><br id='space'>
    <b>Railway Class</b> : {{ data.c }}<br style="line-height: 0px;">
  </h5>
  <h4 style="font-weight: 500; display: inline-block; padding-left: 6rem;" class="center-align">COST : <img src="https://img.icons8.com/windows/32/000000/rupee.png">{{ data.cost }}</h4>
  <i style="display: inline-block;" class="material-icons tooltipped hoverable" data-position="bottom" data-tooltip="This is the price per passenger.">info</i>
  <div class="row">
    <div class="col l3">Number of Passengers :</div>
    <div class="col l4">
    <form action="/Booking/passenger-info/" method="POST">{% csrf_token %}
      <input type="hidden" name="data" value="{{ data }}">
        <select class="form" name="Classes" required>
          <option value="" disabled selected>Choose</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="3">4</option>
        </select></div>
        <div class="col l5">
        <button type="submit" name="testBtn"style="border-radius: 5px"  class="waves-effect waves-light btn hoverable deep-purple accent-1 black-text">CONFIRM AND BOOK</button>
    </form></div></div>
  </form>
  {% else %}
  <h5 style="font-weight: lighter;">
      <b>Method of travel</b> : Indirect Train<br><br id='space'>
      <b>Train1 Name</b> : {{ data.names.0 }}<br><br id='space'>
      <b>Train1 ID</b> : {{ data.names.1 }}<br><br id='space'>
      <b>Train2 Name</b> : {{ data.names.2 }}<br><br id='space'>
      <b>Train2 ID</b> : {{ data.names.3 }}<br><br id='space'>
      <b>Route</b> : From {{ data.snames.0 }} to {{ data.snames.1 }} via {{ data.j }}<br><br id='space'>
      <b>Departure Time</b> : Departing from {{ data.snames.0 }} at {{ data.da.0 }} hrs<br><br id='space'> 
      <b>Arrival Time</b> : Arriving in {{ data.snames.1 }} at {{ data.da.1 }} hrs<br><br id='space'>
      <b>Railway Class</b> : {{ data.c }}<br><br id='space'>
    </h5>
    <h4 style="font-weight: 500; display: inline-block; padding-left: 6rem;" class="center-align">COST : <img src="https://img.icons8.com/windows/32/000000/rupee.png">{{ data.cost }}</h4>
  <i style="display: inline-block;" class="material-icons tooltipped hoverable" data-position="bottom" data-tooltip="This is the price per passenger.">info</i>
  <br><br>  
  <div class="row">
    <div class="col l3">Number of Passengers :</div>
    <div class="col l4">
    <form action="/Booking/passenger-info/" method="POST">{% csrf_token %}
      <input type="hidden" name="data" value="{{ data }}">  
      <select class="form" name="Classes" required>
          <option value="" disabled selected>Choose</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="3">4</option>
        </select></div>
        <div class="col l5">
        <button type="submit" name="testBtn" style="border-radius: 5px" class="waves-effect waves-light btn hoverable deep-purple accent-1 black-text">CONFIRM AND BOOK</button>
    </form></div></div>
    {% endif %}
</div></div></div></div>
</div>



</body>
<footer class="page-footer grey darken-4">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text"><span style="font-weight: lighter;">Travel</span><span>X</span></h5>
              <p class="grey-text text-lighten-4"><span>A simple and easy to use railway booking site.</span></p>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2019 Copyright TravelX, all right reserved.
          </div>
        </div>
    </footer>
    
    
    
    
    
    
    <script src="{% static 'JS/jquery.js' %}"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="{% static 'JS/materialize.min.js' %}"></script>
    
    <script>
        $(document).ready(function(){
          $('.sidenav').sidenav();
          $('.dropdown-trigger').dropdown();
          $('select').formSelect();
          $("select[required]").css({display: "block", height: 0, padding: 0, width: 0, position: 'absolute'});
          $('.collapsible').collapsible();
          $('.tooltipped').tooltip();
        });
    </script>
    
    
    
    </html>
    