{% load static from staticfiles %}
{% load indexing %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!--Import Google Icon Font-->
        <link href="{% static 'css/material-icons.css' %}" rel="stylesheet">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="{% static 'materialize.min.css' %}">
        <title>Booking Home</title>
<style>

.input-field input[type=text]:focus + label {
    color: rgb(74, 20, 140);
   }
   .input-field input:focus + label {
  color: #4a148c !important;
   }
   /* label underline focus color */
   .row .input-field input:focus {
       border-bottom: 1px solid #4a148c !important;
       box-shadow: 0 1px 0 0 #4a148c !important
   }
   .input-field .prefix.active {
      color: #311b92;
    }

.btn{
  border-radius: 5px;
}
.container{
  width: 85%;
}
.browser-default{
  width: 65%;
}
.material-icons{
  vertical-align:-30%;
}
#container1
{
    text-align:center;
}
#classes{
  padding-left: 3%;
}
input.value{
  vertical-align: middle;
}
</style>
</head>
<header>
   <!--NAVBAR TOP-->
   <div class="navbar-fixed">
    <nav class="nav-wraper z-depth-5 purple darken-4">
      <div class="container">
      <a href="#" class="brand-logo"><span style="font-weight: lighter;">Travel</span><span>X</span>    </a>
      <a href="#" class="sidenav-trigger btn-floating btn-large waves-effect waves-light transparent z-depth-0" data-target="mobile-links">
        <i class="large material-icons">menu</i>
      </a>   
      <ul class="right hide-on-med-and-down">
          <li><a onclick="return confirm_alert(this);" href="{% url 'home' %}" class="hoverable waves-effect waves-light"><i class="material-icons left">home</i>HOME</a></li>
          <li><a onclick="return confirm_alert(this);" href="{% url 'trains' %}" class="hoverable waves-effect waves-light"><i class="material-icons left">train</i>TRAINS</a></li>
          <li><a href="#" data-target="dropdown" class="dropdown-trigger hoverable" style="font-weight: lighter; font-size: 120%"><i class="material-icons left">account_circle</i>MY ACCOUNT</a></li>
          </ul>
        <ul id='dropdown' class='dropdown-content'>
            <li><a onclick="return confirm_alert(this);" href="{% url 'logout' %}">LOGOUT</a></li>
            <li><a onclick="return confirm_alert(this);" href="/accountinfo/info/">ACCOUNT OPTIONS</a></li>
        </ul>
    </div>
    </nav>
  </div>
  
<ul class="sidenav grey darken-4" id="mobile-links">
  <div class="user-view">
      <div class="form-field center-align"><i class="material-icons large center-align white-text">account_circle</i><br>
      <h4 class=" white-text">{{ request.user.username }}</h4>
      <h5 style="font-weight: lighter;" class="white-text">{{ request.user.email }}</h5><hr></div>
  </div>
  <li><a onclick="return confirm_alert(this);" href="{% url 'home' %}" class="hoverable white-text waves-effect waves-light" style="font-weight: lighter; font-size: 120%">HOME</a></li>
  <li><a onclick="return confirm_alert(this);" href="#" class="hoverable white-text waves-effect waves-light" style="font-weight: lighter; font-size: 120%">TRAINS</a></li>
  <li><a onclick="return confirm_alert(this);" href="{% url 'logout' %}" class="hoverable white-text waves-effect waves-light" style="font-weight: lighter; font-size: 120%"">LOGOUT</a></li>
  <li><a onclick="return confirm_alert(this);" href="/accountinfo/info/" class="hoverable white-text waves-effect waves-light" style="font-weight: lighter; font-size: 120%"">ACCOUNT OPTIONS</a></li>
</ul>
</header>




<body>
<div class="container"><table class="centered">
 <br>
 
 {% if DATA.method == 'Indirect' %}
  <br>
    <b>Method of travel</b> : Indirect Train<br><br id='space'>
    <b>Train1 Name</b> : {{DATA.names.0}}<br><br id='space'>
    <b>Train1 ID</b> : {{DATA.names.1}}<br><br id='space'>
    <b>Train2 Name</b> : {{DATA.names.2}}<br><br id='space'>
    <b>Train2 ID</b> : {{DATA.names.3}}<br><br id='space'>
    <b>Route</b> : From {{ DATA.snames.0 }} to {{ DATA.snames.1 }} via {{ DATA.j }}<br><br id='space'>
    <b>Departure Time</b> : Departing from {{ DATA.snames.0 }} at {{ DATA.da.0 }} hrs<br><br id='space'> 
    <b>Arrival Time</b> : Arriving in {{ DATA.snames.1 }} at {{ DATA.da.1 }} hrs<br><br id='space'>
    <b>Railway Class</b> : {{DATA.c}}<br style="line-height: 0px;">
  </h5>
  {% else %}
  <br>
    <b>Method of travel</b> : Direct Train<br><br id='space'>
    <b>Train Name</b> : {{ DATA.names.0 }}<br><br id='space'>
    <b>Train ID</b> : {{ DATA.names.1 }}<br><br id='space'>
    <b>From</b> : {{ DATA.snames.0 }}<br><br id='space'>
    <b>To</b> : {{ DATA.snames.1 }}<br><br id='space'>
    <b>Departure Time</b> : Departing from {{ DATA.snames.0 }} at {{ DATA.da.0 }} hrs<br><br id='space'> 
    <b>Arrival Time</b> : Arriving in {{ DATA.snames.1 }} at {{ DATA.da.1 }} hrs<br><br id='space'>
    <b>Railway Class</b> : {{ DATA.c }}<br style="line-height: 0px;">
  {% endif %}
  <br><br>
  <h4 style="font-weight: lighter">Please enter the details of the passengers:</h4><br><br>
  <thead>
    <tr>
        <th>Passenger Name</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Email id</th>
        <th>Phone number</th>
    </tr>
  </thead>
  <tbody>
  <form action="/Booking/booking-confirmed/"  method="post">{% csrf_token %}
    <input type="hidden" value="{{ DATA }}" name="datat">
    <input type="hidden" value="{{ date }}" name="date">
    <input type="hidden" value="{{ request.user.username }}" name="username">
    <input type="hidden" value="{{ d }}" name="passengerno">
    {% for i in d|trange %}
    <tr>
      <td><div class="input-field inline">
        <label class="black-text" for="name">Name</label>
        <input id="name" type="text" class="type text" name="name{{i}}" required>
      </div></td>
      <td><div class="input-field inline">
        <label class="black-text" for="gender">Gender</label>
        <input id="gender" type="text" class="type text" name="gender{{i}}" required>
      </div></td>
      <td><div class="input-field inline">
        <label class="black-text" for="age">Age</label>
        <input id="age" type="text" class="type text" name="age{{i}}" required>
      </div></td>
      <td><div class="input-field inline">
        <label class="black-text" for="email">Email</label>
        <input id="email"  type="text" class="type text" name="email{{i}}" required>
      </div></td>
       <td><div class="input-field inline">
        <label class="black-text" for="number">Phone Number</label> 
        <input id="number" type="text" class="type text" name="num{{i}}" required>
        </div></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br></br>
</div><!--Container div-->
  <br></br>
  <div id="container1"><button class="btn-large waves-effect waves-light purple darken-4" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    </div>
<br></br>
</form>
</body>
<footer class="page-footer grey darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text"><span style="font-weight: lighter;">Travel</span><span>X</span></h5>
          <p class="grey-text text-lighten-4"><span>A simple and easy to use railway booking site.</span></p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2019 Copyright TravelX, all right reserved.
      </div>
    </div>
</footer>
<script src="{% static 'JS/jquery.js' %}"></script>
<!-- Compiled and minified JavaScript -->
<script src="{% static 'JS/materialize.min.js' %}"></script>

<script>
    $(document).ready(function(){
      $('.sidenav').sidenav();
      $('.dropdown-trigger').dropdown();
      $('select').formSelect();
      $("select[required]").css({display: "block", height: 0, padding: 0, width: 0, position: 'absolute'});
      $('.collapsible').collapsible();
    });
</script>

<script type="text/javascript">
  function confirm_alert(node) {
      return confirm("Are you sure you want to leave this page? You will have to start your booking again.");
  }
</script>