{% load static from staticfiles %}
{% load indexing %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--Import Google Icon Font-->
  <link href="{% static 'css/material-icons.css' %}" rel="stylesheet">
  <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="{% static 'materialize.min.css' %}">
  <title>Account Information</title>
  <!--Top backgroungd image style-->
</head>
<style>
  .page-footer{
  background-color: #212121;
  }

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  main {
    flex: 1 0 auto;
  }

  .input-field{
    width: 95%;
  }

  .input-field input[type=text]:focus + label {
    color: rgb(74, 20, 140);
   }
   .input-field input:focus + label {
  color: #4a148c !important;
   }
   /* label underline focus color */
   .row .input-field input:focus {
       border-bottom: 1px solid #4a148c !important;
       box-shadow: 0 1px 0 0 #4a148c !important
   }
   .input-field .prefix.active {
      color: #311b92;
    }
  #contained{
    width: 90%;
  }

</style>



<body>
<header>

<!--NAVBAR TOP-->
<div class="navbar-fixed">
<nav class="nav-wraper z-depth-5 purple darken-4">
  <div class="container">
  <a href="#" class="brand-logo"><span style="font-weight: lighter;">Travel</span><span>X</span></a>
  <a href="#" class="sidenav-trigger btn-floating btn-large waves-effect waves-light transparent z-depth-0" data-target="mobile-links">
    <i class="large material-icons">menu</i>
  </a>   
  <ul class="right hide-on-med-and-down">
    <li><a href="{% url 'home' %}" class="hoverable waves-effect waves-light" style="font-weight: lighter; font-size: 120%"><i class="material-icons left">home</i>HOME</a></li>
    <li><a href="{% url 'trains' %}" class="hoverable waves-effect waves-light" style="font-weight: lighter; font-size: 120%"><i class="material-icons left">train</i>TRAINS</a></li>
    <li><a href="{% url 'capture' slug='Booking' %}" class="hoverable waves-effect waves-light" style="font-weight: lighter; font-size: 120%"><i class="material-icons left">language</i>BOOKING</a></li>
  </ul>
</div>
</nav>
</div>
    <style>
      nav{
        transition: 1000ms;
        background: rgba(255, 255, 255, 0.1);
      }
    </style>
<ul class="sidenav grey darken-4" id="mobile-links">
  <li><a href="#" class="hoverable white-text waves-effect waves-light" style="font-weight: lighter; font-size: 120%">HOME</a></li>
  <li><a href="#" class="hoverable white-text waves-effect waves-light" style="font-weight: lighter; font-size: 120%">TRAINS</a></li>
  <li><a href="{% url 'capture' slug='Booking' %}" class="hoverable white-text waves-effect waves-light" style="font-weight: lighter; font-size: 120%">BOOK</a></li>
  <li><a href="..\.\Login\login.html" class="hoverable white-text waves-effect waves-light" style="font-weight: lighter; font-size: 120%">LOGIN</a></li>
</ul>
</header>
<br><br><br><br>

<div class="container" id="contained">
    <div class="card z-depth-0">
    <hr style="height:1px;border:none;color:#333;background-color:rgb(219, 215, 215);">
    <div class="row">
        <div class="col l1"><i class="material-icons medium">account_circle</i></div>
        <div class="col l6 left-align"><h3 style="font-weight: lighter; display: inline; padding-bottom: 100%">{{ request.user.username }}</h3></div>
        <div class="col l1 push-l3"><a href="{% url 'logout' %}" class="btn purple darken-4 center-align hoverable waves-effect" style="margin-top: 20%"> Logout</a></div>
    </div>
    <hr style="height:1px;border:none;color:#333;background-color:rgb(219, 215, 215);">
</div>
<br>
<h4 style="font-weight: lighter;">Past Bookings:</h4>
<br>
<table>
  <thead>
    <tr>
        <th class="center-align">PNR Number</th>
        <th class="center-align">Passenger Name</th>
        <th class="center-align">Date of Travel</th>
        <th class="center-align">Date of Booking</th>
        <th class="center-align">From</th>
        <th class="center-align">To</th>
        <th class="center-align">Ticket</th>
        <th class="center-align">Cancel</th>
    </tr>
  </thead>
  <tbody>
    {% for i in pnrs %}
    <tr>
      <td class="center-align">{{ i.pnr_number }}</td>
      <td class="center-align"> {{ passengers|dictindex:i.booking_number }} </td>
      <td class="center-align">{{ i.dateofjourney }}</td>
      <td class="center-align">{{ i.dateofbooking }}</td>
      <td class="center-align">{{ i.fromcity }}</td>
      <td class="center-align">{{ i.tocity }}</td>
      <form action="/viewticket/" method="POST">{% csrf_token %}
      <input type="hidden" name="pnrno"  value="{{ i.pnr_number }}">
      <input type="hidden"  name="passengerid" value="{{ i.passenger_id}}">
      {% if i.status == 'Active' %}
      <td class="center-align"><button name='button' class="btn blue hoverable waves-effect">View Ticket</button></td>
      </form>
      <form action="/cancelticket/" method="POST">{% csrf_token %}
      <input type="hidden" name="pnrno"  value="{{ i.pnr_number }}">
      <input type="hidden"  name="passengerid" value="{{ i.passenger_id}}">
      <td class="center-align"><a href="#cancelmodal" class="btn blue hoverable waves-effect modal-trigger">CANCEL Ticket</a></td>
      <div id="cancelmodal" class="modal">
          <div class="modal-content">
            <h4>Confirm Cancellation</h4><br>
            <h5 style="font-weight: lighter">You have requested a ticket cancellation.<br>Are you sure you want to cancel this ticket? This action cant be undone.</h5>
            <br><div class="form-field center-align"><a href="#!" class="modal-close btn red hoverable waves-effect">No, I DONT WANT TO CANCEL</a>&nbsp;<button name='button' class="btn green hoverable waves-effect">CONFIRM AND CANCEL TICKET</button></div> 
          </div>
      </div>
      </form>
      {% else %}
      <td class="center-align"><button name='button' class="disabled btn blue hoverable waves-effect">TICKET CANCELLED</button></td>
      </form>
      <td class="center-align"><a href="" class="disabled btn blue hoverable waves-effect">TICKET CANCELLED</a></td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
<br><br><br>
</div><!--container div-->

<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text"><span style="font-weight: lighter;">Travel</span><span>X</span></h5>
          <p class="grey-text text-lighten-4"><span>A simple and easy to use railway booking site.</span></p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2019 Copyright TravelX, all right reserved.
      </div>
    </div>
</footer>






  <script src="{% static 'JS/jquery.js' %}"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="{% static 'JS/materialize.min.js' %}"></script>

<script>
    $(document).ready(function(){
        $('.sidenav').sidenav();
        $('.modal').modal();
    })
    
</script>
</body>
</html>

