{% load static from staticfiles %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--Import Google Icon Font-->
  <link href="{% static 'css/material-icons.css' %}" rel="stylesheet">
  <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="{% static 'materialize.min.css' %}">
  <title>Sign Up</title>
  <!--Top backgroungd image style-->
</head>
<style>
  .btn{
    background: white;
    border: solid 1px #311b92;
    z-index: 0;
    transition: 400ms;
    color: black;
    padding-bottom: 3rem;
  }
  .btn:hover{
    border-radius: 5px;
    background: #311b92;
    color: white;
    
  }
  .btn:focus{
    border-radius: 5px;
    background: #311b92;
    color: white;
  }
  .btn:active{
    transform: translateY(4px);
  }


  .input-field{
    width: 85%;
  }

  .input-field input[type=text]:focus + label {
    color: rgb(74, 20, 140);
   }
   .input-field input:focus + label {
  color: #4a148c !important;
   }
   /* label underline focus color */
   .row .input-field input:focus {
       border-bottom: 1px solid #4a148c !important;
       box-shadow: 0 1px 0 0 #4a148c !important
   }
   .input-field .prefix.active {
      color: #0077ff;
    }

</style>



<body>
<header>

<!--NAVBAR TOP-->
<div class="navbar-fixed">
  <nav class="nav-wraper z-depth-5 purple darken-4">
    <div class="container">
    <a href="{% url 'home' %}" class="brand-logo"><span style="font-weight: lighter;">Travel</span><span>X</span></a>
    <a href="#" class="sidenav-trigger btn-floating btn-large waves-effect waves-light transparent z-depth-0" data-target="mobile-links">
      <i class="large material-icons">menu</i>
    </a>   
    <ul class="right hide-on-med-and-down">
      <li><a href="{% url 'trains' %}" class="hoverable waves-effect waves-light" style="font-weight: lighter; font-size: 120%"><i class="material-icons left">train</i>TRAINS</a></li>
      <li><a onclick="return confirm_alert(this)" href="{% url 'capture' slug='Booking' %}" class="hoverable waves-effect waves-light" style="font-weight: lighter; font-size: 120%"><i class="material-icons left">language</i>BOOKING</a></li>
      <li><a href="{% url 'login' %}" class="hoverable waves-effect waves-light" style="font-weight: lighter; font-size: 120%"><i class="material-icons left">account_circle</i>LOGIN</a></li>

    </ul>
    <ul id='dropdown' class='dropdown-content'>
        <li><a href="{% url 'logout' %}">LOGOUT</a></li>
        <li><a href="accountinfo">ACCOUNT OPTIONS</a></li>
    </ul>
  </div>
  </nav>
</div>
  <style>
  </style>

  <ul class="sidenav grey darken-4" id="mobile-links">
    {% if request.user.is_authenticated %}
    <div class="user-view">
      <div class="form-field center-align"><i class="material-icons large center-align white-text">account_circle</i><br>
      <h4 class=" white-text">{{ request.user.username }}</h4>
      <h5 style="font-weight: lighter;" class="white-text">{{ request.user.email }}</h5><hr></div>
    </div>
    <li><a href="{% url 'home' %}" class="hoverable white-text waves-effect waves-light" style="font-weight: lighter; font-size: 120%">HOME</a></li>
    <li><a href="{% url 'trains' %}" class="hoverable white-text waves-effect waves-light" style="font-weight: lighter; font-size: 120%">TRAINS</a></li>
    <li><a href="{% url 'capture' slug='Booking' %}" class="hoverable white-text waves-effect waves-light" style="font-weight: lighter; font-size: 120%">BOOK</a></li>
    <li><a href="{% url 'logout' %}" class="hoverable white-text waves-effect waves-light" style="font-weight: lighter; font-size: 120%"">LOGOUT</a></li>
    <li><a href="accountinfo" class="hoverable white-text waves-effect waves-light" style="font-weight: lighter; font-size: 120%"">ACCOUNT OPTIONS</a></li>
    {% else %}
    <li><a href="{% url 'home' %}" class="hoverable white-text waves-effect waves-light" style="font-weight: lighter; font-size: 120%">HOME</a></li>
    <li><a href="{% url 'trains' %}" class="hoverable white-text waves-effect waves-light" style="font-weight: lighter; font-size: 120%">TRAINS</a></li>
    <li><a onclick="return confirm_alert(this)" href="{% url 'capture' slug='Booking' %}" class="hoverable white-text waves-effect waves-light" style="font-weight: lighter; font-size: 120%">BOOK</a></li>
    <li><a href="{% url 'login' %}" class="hoverable white-text waves-effect waves-light" style="font-weight: lighter; font-size: 120%">LOGIN</a></li>
    <li><a href="{% url 'capture' slug='accountinfo' %}" class="hoverable white-text waves-effect waves-light" style="font-weight: lighter; font-size: 120%">SIGN UP</a></li>   
    {% endif %}
</ul>
</header>
<br><br><br><br>
<div class="container">
    <div class="row">
    <div class="col s0 l3"></div>
    <div class="col s12 l6">
    <div class="card">
        <div class="card-content">
            <span class="card-title center-align" style="font-size: 220%;">Signup</span>
            <br>
            <form method="POST">{% csrf_token %}
              {% for field in registration_form %}
              <div class="input-field inline">
                <label class="black-text" for="{{ field.name }}">{{ field.label }}</label>
                {{ field }}
                {% if field.help_text %}
                  <i style="display: inline-block;" class="material-icons prefix tooltipped" data-position="right" data-tooltip="{{ field.help_text }}">info</i>
                {% endif %}
                {% for error in field.errors %}
                  <p style="color: red;">{{ error }}</p>
                {% endfor %}

              </div>
              {% endfor %}
            
            <div class="form-field center-align"><button class="btn" type="submit">Sign Up</button></div>
            </form></div>
        </div></div></div>
    </div>
</div>






<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text"><span style="font-weight: lighter;">Travel</span><span>X</span></h5>
          <p class="grey-text text-lighten-4"><span>A simple and easy to use railway booking site.</span></p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2019 Copyright TravelX, all right reserved.
      </div>
    </div>
</footer>






  <script src="{% static 'JS/jquery.js' %}"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="{% static 'JS/materialize.min.js' %}"></script>

  <script>
    $(document).ready(function(){
        $('.datepicker').datepicker({
            container: 'body',
            format: 'yyyy-mm-dd'
        });
        $('.sidenav').sidenav();
        $('.tooltipped').tooltip();
    })
    
  </script>
</body>
</html>

