{% load static from staticfiles %}
{% load indexing %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--Import Google Icon Font-->
  <link href="{% static 'css/material-icons.css' %}" rel="stylesheet">
  <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="{% static 'materialize.min.css' %}">
  <title>Account Information</title>
  <!--Top backgroungd image style-->
</head>
<style>
  .page-footer{
  background-color: #212121;
  }

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  main {
    flex: 1 0 auto;
  }

  .input-field{
    width: 95%;
  }

  .input-field input[type=text]:focus + label {
    color: rgb(74, 20, 140);
   }
   .input-field input:focus + label {
  color: #4a148c !important;
   }
   /* label underline focus color */
   .row .input-field input:focus {
       border-bottom: 1px solid #4a148c !important;
       box-shadow: 0 1px 0 0 #4a148c !important
   }
   .input-field .prefix.active {
      color: #311b92;
    }
  #contained{
    width: 85%;
  }
  .modal{
    width: 95%;
    height: 195% !important;
  }
  #preview-image{
    border: solid black 1px;
    padding: 0;
    margin: 0;
  }

</style>



<body>
<header>

<!--NAVBAR TOP-->
<div class="navbar-fixed">
<nav class="nav-wraper z-depth-5 purple darken-4">
  <div class="container">
  <a href="#" class="brand-logo"><span style="font-weight: lighter;">Travel</span><span>X</span></a>
  <a href="#" class="sidenav-trigger btn-floating btn-large waves-effect waves-light transparent z-depth-0" data-target="mobile-links">
    <i class="large material-icons">menu</i>
  </a>   
  <ul class="right hide-on-med-and-down">
    <li><a href="{% url 'home' %}" class="hoverable waves-effect waves-light" style="font-weight: lighter; font-size: 120%"><i class="material-icons left">home</i>HOME</a></li>
    </ul>
</div>
</nav>
</div>
    <style>
      nav{
        transition: 1000ms;
        background: rgba(255, 255, 255, 0.1);
      }
    </style>
<ul class="sidenav grey darken-4" id="mobile-links">
  <li><a href="#" class="hoverable white-text waves-effect waves-light" style="font-weight: lighter; font-size: 120%">HOME</a></li>
  <li><a href="#" class="hoverable white-text waves-effect waves-light" style="font-weight: lighter; font-size: 120%">TRAINS</a></li>
  <li><a href="{% url 'capture' slug='Booking' %}" class="hoverable white-text waves-effect waves-light" style="font-weight: lighter; font-size: 120%">BOOK</a></li>
  <li><a href="..\.\Login\login.html" class="hoverable white-text waves-effect waves-light" style="font-weight: lighter; font-size: 120%">LOGIN</a></li>
</ul>
</header>
<br><br><br><br>
<div class="container" id="contained">
  <div class="card z-depth-3" id="ticket">
  <div  style="margin-left: 1%; margin-right: 1%;">
      <div class="row" style="margin-bottom: 0%;">
        <div class="col l2"><h3><span style="font-weight: lighter;">Travel</span><span>X</span></h3></div>
        <div class="col l9"><h4 class="center-align" style="font-weight: lighter; padding-top: 1%;">Booking Confirmation&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4></div>
        <div class="col l1"><p style="padding-top: 5%;">Date Of Booking: {{ pnr.dateofbooking }}</p></div>
      </div>
      <hr><br><br>
      <div class="row"><div class="col l12 center-align"><h5>PNR NUMBER: {{ pnr.pnr_number }}</h5></div>
      </div><br>
      <div class="row">
        <div class="col l3"><h5 style="font-weight: lighter;"><b>From:</b> {{ pnr.fromcity }}</h5></div>
        <div class="col l3"><h5 style="font-weight: lighter;"><b>To:</b> {{ pnr.tocity }}</h5></div>
        <div class="col l3"><h5 style="font-weight: lighter;"><b>Type of Journey:</b> {{ pnr.typeofjourney }}</h5></div>
        <div class="col l3"><h5 style="font-weight: lighter;"><b>Date of Journey:</b>{{ pnr.dateofjourney }}</h5></div>
      </div><br><br>
      <h4 style="padding-left: 1%;">Train Details</h4><br>
      <div class="row">
        {% if pnr.typeofjourney == 'Direct' %}
        <div class="col l4"><h5 style="font-weight: lighter;"><b>Train Name:</b>{{ pnr.train1_id|idfinder }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Train ID:</b> 7</h5></div>
        <div class="col l2"><h5 style="font-weight: lighter;"><b>Railway Class:</b> {{pnr.rclass}}</h5></div>
        <div class="col l3"><h5 style="font-weight: lighter;"><b>Departure From {{ pnr.fromcity }}:</b> {{ pnr.departure_time }}</h5></div>
        <div class="col l3"><h5 style="font-weight: lighter;"><b>Arrival in {{ pnr.tocity }}:</b> {{ pnr.arrival_time }}</h5></div>
      </div>
      <div class="row">
        {% else %}
        <div class="col l4"><h5 style="font-weight: lighter;"><b>Train1 Name:</b>{{ pnr.train1_id|idfinder }}</h5></div>
        <div class="col l4"><h5 style="font-weight: lighter;"><b>Train2 Name:</b>{{ pnr.train2_id|idfinder }}</h5></div>
        <div class="col l4"><h5 style="font-weight: lighter;"><b>Junction Station:</b>{{ pnr.junction|stationname }}</h5></div>
      </div>
      <div class="row">
        <div class="col l4"><h5 style="font-weight: lighter;"><b>Railway Class:</b> {{pnr.rclass}}</h5></div>
        <div class="col l4"><h5 style="font-weight: lighter;"><b>Departure From {{ pnr.fromcity }}:</b> {{ pnr.departure_time }}</h5></div>
        <div class="col l4"><h5 style="font-weight: lighter;"><b>Arrival in {{ pnr.tocity }}:</b> {{ pnr.arrival_time }}</h5></div>
      </div>
      {% endif %}
      <br><hr><br><h4 style="padding-left: 1%;">Passenger Details:</h4>
      <div class="row">
        <div class="col l4"><h5 style="font-weight: lighter;"><b>Passenger Name:</b>{{ p.passenger_name }}</h5></div>
        <div class="col l2"><h5 style="font-weight: lighter;"><b>Age:</b> {{ p.age }}</h5></div>
        <div class="col l3"><h5 style="font-weight: lighter;"><b>Phone Number:</b> {{ p.phone_number }}</h5></div>
        <div class="col l3"><h5 style="font-weight: lighter;"><b>Email Address:</b> {{ p.email }}</h5></div>
      </div> 
      <br><h5 style="padding-left: 2%;">Seat Number: {{ pnr.seat_number }}</h5>
      <br><h5 style="padding-left: 2%;">Booked by User: {{ pnr.user_name }}</h5>
      <br><div class="form-field center-align"><h5 style="padding-left: 2%;">Thank You For Using TravelX</h5></div>
      <br><br>
  </div>
  </div>
</div>

<div class="form-field center-align"><a class="btn waves-effect purple darken-4 center-align waves-light modal-trigger" id="modal-open" href="#modal1">Download <i class="material-icons right">file_download</i> </a></div>
<br>
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Ticket Preview</h4><br><br>
    <div id="preview-image" class="center-align"></div><br>
    <div class="form-field center-align"><a class="btn waves-effect purple darken-4 center-align waves-light" id="download">DOWNLOAD TICKET</a>
    <a class="btn waves-effect purple darken-4 center-align waves-light modal-close">CLOSE</a></div>
  </div>


<br>


</div>


</div><!--container div-->

<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text"><span style="font-weight: lighter;">Travel</span><span>X</span></h5>
          <p class="grey-text text-lighten-4"><span>A simple and easy to use railway booking site.</span></p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2019 Copyright TravelX, all right reserved.
      </div>
    </div>
</footer>






<script src="{% static 'JS/jquery.js' %}"></script>
  <!-- Compiled and minified JavaScript -->
<script src="{% static 'JS/materialize.min.js' %}"></script>
<script src="{% static 'JS/html2canvas.js' %}" type="text/javascript"></script>
<script>
  $(document).ready(function(){
    $('.modal').modal();
    });
</script>

<script>
var element = $("#ticket"); // global variable
var getCanvas; // global variable

    $("#modal-open").on('click', function () {
         html2canvas(element, {
         onrendered: function (canvas) {
                $("#preview-image").append(canvas);
                getCanvas = canvas;
             }
         });
    });

    $("#download").on('click', function () {
    var imgageData = getCanvas.toDataURL("image/png");
    // Now browser starts downloading it instead of just showing it
    var newData = imgageData.replace(/^data:image\/png/, "data:application/octet-stream");
    $("#download").attr("download", "Ticket.png").attr("href", newData);
});
</script>
</body>
</html>

